* {
  margin: 0;
  padding: 0;
  /* font-size: 20px; */
  box-sizing: border-box;
}

#nav-bar {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  font-size: 2rem;
}

#nav-bar > * {
  cursor: pointer;
}

#main-image {
  width: min(100%, 1200px);
  max-height: 400px;
  object-fit: cover;
  display: block;
  margin: auto;
}

h1,
h2 {
  text-align: center;
}

#description-text {
  max-width: 800px;
  margin: auto;
}

#hours-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

#location-container {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width: 800px;
  flex-wrap: wrap;
}

#main-building {
  width: min(50%, 400px);
}
