* {
  margin: 0;
  padding: 0;
  /* font-size: 20px; */
  box-sizing: border-box;
}

#nav-bar {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 2rem;
}

#nav-bar > * {
  cursor: pointer;
}

#main-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

h1 {
  text-align: center;
}
